// Wide alignments and covers.
body.no-sidebar {
	.alignwide,
	.alignfull,
	.wp-block-cover.alignwide,
	.wp-block-cover.alignfull {
		margin: 0px calc(50% - 50vw);
		max-width: 100vw;
		width: 100vw;

		.wp-block-cover__inner-container {
			@include make-container();
			@each $breakpoint, $container-max-width in $container-max-widths {
				@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
					max-width: $container-max-width;
				}
			}
		}
	}

	.alignwide,
	.wp-block-cover.alignwide{
		margin: 0px calc(50% - 45vw);
		max-width: 90vw;
		width: 100vw;
	}


	@media (max-width: 920px) {
		.alignwide,
		.wp-block-cover.alignwide {
			margin: 0px calc(50% - 48vw);
			max-width: 96vw;
			width: 100vw;
		}
	}
}