// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor {
	font-size: inherit;
}

// Necessary WP classes
.wp-caption {
	font-size: inherit;
}

.wp-caption-text {
	font-size: inherit;
}

.screen-reader-text {
	@include visually-hidden();
}

.alignleft {
	display: inline;
	float: left;
	margin-right: $spacer;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $spacer;
}

.aligncenter {
	@extend .mx-auto;
	display: block;
}

.entry-content {
	img {		
		max-width: 100%;
	}
}

a {
	color: var(--bs-link-color);
}
a:hover {
	--bs-link-color: var(--bs-link-hover-color);
}
a:active {
	--bs-link-color: var(--bs-link-active-color);
}

#site-header {
	transition: all 0.5s;
	#navbar-main {
		transition: all 0.5s;
	}
}

body {
	&:not(.is-scrolled) {
		#site-header {
			&.bg-overlay {
				@extend .position-fixed;
				@extend .top-0;
				@extend .start-0;
				@extend .end-0;

				#navbar-main {
					@extend .bg-transparent;
					box-shadow: none !important;
				}
				.nav-link {
					@extend .link-light;				
					&:hover {
						@extend .link-secondary;
					}			
					&:focus {
						@extend .link-light;
					}
				}
				
			}
		}
		&.admin-bar {
			#site-header {
				&.bg-overlay {
					top: 32px !important;
				}
			}
		}
	}
}